body {
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

// fonts
.T48B_56 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.T48M_56 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.T48R_56 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.T30B_38 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
}

.T30M_38 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

.T30R_38 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

.T24B_32 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  //font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.T24M_32 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.T24R_32 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.T20B_28 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  //font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.T20M_28 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.T20R_28 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.T18B_26 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  //font-weight: bold;
  font-size: 28px;
  line-height: 26px;
}

.T18M_26 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.T18R_26 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.T16B_24 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.T16M_24 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.T16R_24 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.T14B_20 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.T14M_20 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.T14R_20 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.T12B_16 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.T12M_16 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.T12R_16 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.T10R_14 {
  font-family: "BIZ-UDGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}